.toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(46, 46, 48);
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.toolbar-text-title {
    font-size: 300%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}